<div class="container px-3">
    <div class="row">
        <div class="col-lg-12">
            <h1>Deneme Yazısı</h1>
            <p class="blog-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste praesentium enim nulla
                aspernatur accusamus. Assumenda quia in dignissimos ullam, minus eos qui suscipit? Temporibus neque
                totam debitis quas aspernatur ab?</p>
            <img src="assets/sunset.png" draggable="false" class="img-fluid mx-auto d-block" width="200" alt="sunset">
            <p class="blog-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis assumenda recusandae
                natus suscipit repellat sed cupiditate aperiam nemo illo accusamus dolor ducimus obcaecati dolores
                facilis similique, dignissimos impedit rerum repudiandae!</p>
            <h2>İkinci Başlık</h2>
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id volutpat odio.
                Suspendisse viverra sem ligula, ut iaculis sapien malesuada a. Sed in dictum eros. Curabitur hendrerit
                scelerisque tempor. Ut semper pellentesque orci, sit amet blandit leo accumsan a. Donec eget ligula vel
                ante condimentum consectetur. Maecenas a nulla semper, posuere nisl in, vestibulum quam. Donec neque
                ipsum, faucibus blandit est in, eleifend accumsan augue. Morbi vitae purus interdum, vehicula est ut,
                molestie tortor. Aliquam massa ante, bibendum sit amet viverra in, maximus in dolor. Nunc ut auctor
                arcu, et tincidunt nunc. Donec quis enim et justo dictum porta. Sed eu porta ante. Donec lacinia, ipsum
                vitae eleifend imperdiet, nulla nisi facilisis risus, ac vulputate diam urna vel nisi.

                Praesent suscipit nibh non neque sollicitudin lacinia. Fusce maximus vel neque id ornare. Pellentesque
                ex nisl, ornare vel scelerisque quis, ullamcorper eget neque. Mauris sagittis velit sit amet elit
                elementum, congue pulvinar ex condimentum. Vestibulum consectetur magna sit amet metus rutrum auctor ut
                ut diam. Duis vitae massa scelerisque, gravida purus sed, egestas velit. Curabitur et urna ac est
                vulputate bibendum at non mauris. Etiam vulputate cursus ex sed dignissim. In pretium egestas ipsum, a
                consequat ante egestas nec. Praesent eget turpis id magna iaculis pretium non ut libero. Fusce sed elit
                ultricies, tincidunt sem vel, feugiat erat. Nulla vitae enim eleifend, porttitor erat sed, vestibulum
                elit.

                Suspendisse eu ultricies augue, ac convallis augue. Curabitur in mollis lectus. Mauris congue tellus vel
                pharetra molestie. Maecenas facilisis felis nec augue fermentum, in elementum massa posuere. Praesent
                vehicula massa eu massa pellentesque, eget auctor diam convallis. Morbi malesuada tempor dui, facilisis
                vulputate lectus finibus sit amet. Nulla egestas nunc lorem, bibendum semper quam mattis scelerisque.
                Suspendisse tincidunt urna tortor, et ultrices dolor dignissim ut. Maecenas mauris justo, cursus et
                laoreet non, tristique ac odio.

                Curabitur vehicula tortor sed lacus cursus vestibulum. Nam aliquam iaculis risus ut molestie. Fusce
                semper purus eu tempus varius. Vestibulum pellentesque purus eu elit semper, quis rhoncus neque dapibus.
                Aenean gravida efficitur pellentesque. Nullam nulla dui, ultricies vitae maximus sit amet, pretium sit
                amet turpis. In porttitor bibendum arcu, id pellentesque purus volutpat non. Nullam non odio vestibulum,
                accumsan mi in, mollis metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc mauris
                elit, euismod eu est at, maximus pretium massa. Nam sit amet nibh est. Etiam sed lectus libero.

                Donec eu elit ipsum. Maecenas vehicula consequat orci, non accumsan tortor vehicula in. Nam commodo
                tortor a turpis blandit imperdiet. Ut tempus mi eget aliquet porttitor. Duis blandit facilisis
                fringilla. Fusce a est efficitur, lobortis lorem semper, sagittis massa. Nunc sollicitudin ipsum at leo
                aliquet pretium. In vestibulum nulla augue. Mauris id nibh at sapien semper mollis nec sed ante. Sed ut
                ligula dui. Donec in turpis metus. Vivamus massa dui, faucibus sed vehicula mattis, porttitor id augue.

                Integer tempus tincidunt mi lobortis fermentum. Mauris iaculis odio vel porta ullamcorper. Duis purus
                velit, sollicitudin vel pharetra nec, mollis eu sapien. Suspendisse vel libero at erat semper faucibus
                ut non dolor. Suspendisse potenti. Vivamus interdum quam sed massa tristique, sed consequat massa
                iaculis. Nunc iaculis turpis at auctor auctor. Nullam egestas dictum leo. Maecenas commodo turpis id
                arcu aliquam, euismod dapibus neque eleifend. Duis molestie pharetra arcu at iaculis. Phasellus maximus
                nunc a urna venenatis semper nec in ligula. Maecenas commodo massa quis aliquet varius. Nulla lorem
                ante, malesuada nec augue eu, feugiat dictum massa. In sem risus, consectetur et iaculis vel, lobortis
                vel sem. Duis pretium dolor risus. Curabitur eros nulla, laoreet ac vulputate a, tempor et odio.
            </p>
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Veri 1</th>
                    <th>Veri 2</th>
                    <th>Veri 3</th>
                    <th>Veri 4</th>
                    <th>Veri 5</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>20</td>
                    <td>40</td>
                    <td>60</td>
                    <td>80</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>30</td>
                    <td>50</td>
                    <td>70</td>
                    <td>90</td>
                    <td>110</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1000</td>
                    <td>2000</td>
                    <td>3000</td>
                    <td>4000</td>
                    <td>5000</td>
                </tr>
            </table>
        </div>
    </div>
</div>