<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5 h6 text-center opacity-50">
            <label for="footer" class="text-gradient-warm">programmer-666</label>
            <label for="footerC" class="text-gradient-warmr">©️</label>
            <label for="footerYear" class="text-gradient-warm">2024</label>
        </div>
    </div>
</div>