<div class="container-flex px-3 text-center">
    <div class="row">
        <div class="col-lg-12 mt-lg-5">
            <p class="h3">Merhaba,</p>
            <h4 class="display-4"><span class="display-5">Ben</span> Süha Arslan</h4>
            <h1 class="display-1 mt-5 text-center text-gradient-warm fw-bold">Yazılım Geliştirici</h1>
            <h1 class="display-1 text-center">&</h1>
            <h1 class="display-1 mb-5 text-center text-gradient-warmr fw-bold">IT Destek Uzmanıyım</h1>
            <!--<h3 class="h3 text-center">Özgeçmişimi, yazılarımı ve projelerimi buradan yayınlıyorum.</h3>-->
        </div>
        <div class="co-lg-12">
            <img class="img-fluid" draggable="false" width="150" src="assets/Shape.png" alt="Synthwave">
        </div>
    </div>
</div>