<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid shadow-sm">
        <a class="navbar-brand me-lg-4" href="/">Programmer-666</a>
        <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list h1"></i>
        </button>
        <div class="container-flex collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav"> <!-- list-group-horizontal -->
                <li class="nav-item me-lg-5"> <!-- mx-auto -->
                    <a class="nav-link" href="/blog"><i class="bi bi-file-earmark-richtext me-1"></i>Blog</a>
                </li>
                <li class="nav-item me-lg-5 "> <!-- mx-auto -->
                    <a class="nav-link" href="/projeler"><i class="bi bi-kanban me-1"></i>Projeler</a>
                </li>
                <li class="nav-item "> <!-- mx-auto -->
                    <a class="nav-link" href="/cv"><i class="bi bi-file-earmark-person me-1"></i>CV</a>
                </li>
                <ul class="navbar-nav list-group-horizontal ms-lg-5">
                    <li class="nav-item me-4 me-lg-0">
                        <a class="nav-link" draggable="false" href="https://github.com/programmer-666" title="GitHub">
                            <i class="bi bi-github h5"></i></a>
                    </li>
                    <li class="nav-item me-4 me-lg-0">
                        <a class="nav-link" draggable="false" href="https://www.linkedin.com/in/suhaarslan" title="LinkedIn">
                            <i class="bi bi-linkedin h5"></i></a>
                    </li>
                    <li class="nav-item me-4 me-lg-0">
                        <a class="nav-link" draggable="false" href="https://dev.to/programmer666" title="DEV">
                            <i class="bi bi-code-square h5"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" draggable="false" href="https://stackoverflow.com/users/13398646/programmer-666" title="Stackoverflow">
                            <i class="bi bi-stack-overflow h5"></i></a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>