<div class="container-flex px-3">
    <div class="row col-lg-12 mx-auto">
        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
            <div class="card mx-auto" style="max-width: 20rem;">
                <img src="assets/p_template.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proje Başlığı</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
                <div class="card-body text-center">
                    <a href="/project-example" class="card-link text-body text-decoration-none">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
            <div class="card mx-auto" style="max-width: 20rem;">
                <img src="assets/p_template.png" class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proje Başlığı</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
                <div class="card-body text-center text-body">
                    <a href="/project-example" class="card-link text-body text-decoration-none">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
            <div class="card mx-auto" style="max-width: 20rem;">
                <img src="assets/p_template.png" class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proje Başlığı</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
                <div class="card-body text-center">
                    <a href="/project-example" class="card-link text-body text-decoration-none">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
            <div class="card mx-auto" style="max-width: 20rem;">
                <img src="assets/p_template.png" class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proje Başlığı</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
                <div class="card-body text-center">
                    <a href="/project-example" class="card-link text-body text-decoration-none">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
            <div class="card mx-auto" style="max-width: 20rem;">
                <img src="assets/p_template.png" class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proje Başlığı</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
                <div class="card-body text-center">
                    <a href="/project-example" class="card-link text-body text-decoration-none">İncele</a>
                </div>
            </div>
        </div>
    </div>
</div>