<!DOCTYPE html>
<html lang="tr" data-bs-theme="light">

<head>
    <%- include('partials/head.ejs') %>
    <title>Süha</title>
    <link rel=”canonical” href=”https://suhaarslan.com/blog“ />
    <%# buraya route ismi gelecek %>
</head>
<body>
    <div class="container-flex">
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/blogs.ejs') %>
        <footer class="footer">
            <%- include('partials/footer.ejs') %>
        </footer>
    </div>
</body>

</html>