<!DOCTYPE html>
<html lang="tr" data-bs-theme="light">

<head>
    <%- include('partials/head.ejs') %>
    <link rel=”canonical” href=”https://suhaarslan.com“ />
    <%# buraya route ismi gelecek %>
</head>
<body>
    <div class="container-flex">
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/main.ejs') %>
        <footer class="footer">
            <%- include('partials/footer.ejs') %>
        </footer>
    </div>
</body>

</html>