// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    warmr: linear-gradient(135deg, #FD803F 0%,#F2CD48 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
  "newc": rgb(255, 188, 33),
  "newt": rgb(0, 130, 153)
);

$theme-colors: map-merge($custom-colors, $theme-colors);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-Regular.woff2") format("opentype");
}

* {
    font-family: 'Fira Code';
}

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}
// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@mixin border-gradient($parent, $gradient) {
  #{$parent} {
    border: 20px solid transparent;
    border-width: 6px;
    border-style: solid;
    border-image: $gradient;
    border-image-slice: 1;
  }
}
// Gradient Classes 
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
 }
 // Gradient Classes 
 @each $gradient, $value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
 }

 

@import "../node_modules/bootstrap/scss/bootstrap.scss";