<!DOCTYPE html>
<html lang="tr" data-bs-theme="dark">

<head>
    <%- include('partials/head_p.ejs') %>
    <title>Yazılar</title>
    <meta name="description" content="Bloğuma yazdığım yazılar.">
    <link rel=”canonical” href=”https://suhaarslan.com/blog“ />
    <meta name="keywords" content="blog, süha arslan, yazılar, makaleler">
</head>
<body>
    <div class="container-flex">
        <%- include('partials/navbar_p.ejs') %>
        <%- include('partials/blogs_p.ejs') %>
        <footer class="footer">
            <%- include('partials/footer_p.ejs') %>
        </footer>
    </div>
</body>
<script src="/js/SOADBlogPage.js"></script>

</html>