<!DOCTYPE html>
<html lang="tr" data-bs-theme="dark">

<head>
    <%- include('partials/head_p.ejs') %>
    <title>Projeler</title>
    <link rel=”canonical” href=”https://suhaarslan.com/projeler“ />
    <%# buraya route ismi gelecek %>
</head>
<body>
    <div class="container-flex">
        <%- include('partials/navbar_p.ejs') %>
        <%- include('partials/projects_p.ejs') %>
        <footer class="footer">
            <%- include('partials/footer_p.ejs') %>
        </footer>
    </div>
</body>

</html>