<div class="container px-3">
    <div class="row">
        <div class="col-lg-3 d-none d-sm-none d-xs-none d-lg-block">
            <div class="list-group border border-start-0 border-top-0 border-bottom-0">
                <% headings.forEach(heading => { %>
                    <a href="#<%- heading %>" class="border-0 list-group-item list-group-item-action"><%- heading %></a>
                <% }); %>
            </div>
        </div>
        <div class="col-lg-9"><%- bPost.content_post %></div>
    </div>
</div>
