<div class="container px-3">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/CVs/Suha_Arslan_CV23_24.pdf" class="img-fluid d-block mx-auto w-100" alt="Özgeçmişim">
        </div>
    </div>
</div>