<div class="container px-3">
    <div class="row">
        <div class="col-lg-12">
            <embed type="application/pdf" src="assets/CVs/Suha_Arslan_CV23_24.pdf" width="100%" height="500" style="height: 85vh;">
        </div>
    </div>
</div>